Repository JCSDA-internal/ioda-converters, pull requests merged in 2023-05, with the labels that each got.

#1230 Bug fix for GOES sensorAzimuthAngle
  src/goes/goes_converter.py
  src/goes/goes_latlon.py
Labels: bug, INGEST

#1226 2d arrays in trace gas converters
  src/compo/mopitt_co_nc2ioda.py
  src/compo/tropomi_no2_co_nc2ioda.py
  test/testoutput/mopitt_co.nc
  test/testoutput/tropomi_co_total.nc
  test/testoutput/tropomi_no2_total.nc
  test/testoutput/tropomi_no2_tropo.nc
Labels: COMPO

#1232 Bugfix/gnssro add lswqc
  src/gnssro/gnssro_bufr2ioda.f90
  test/testoutput/gnssro_obs_3prof_2022090100.nc4
Labels: needs review, OBS

#1195 BUFR Query Python Bindings
  CMakeLists.txt
  cmake/compiler_flags_Clang_CXX.cmake
  cmake/compiler_flags_GNU_CXX.cmake
  cmake/compiler_flags_Intel_CXX.cmake
  src/bufr/BufrParser/BufrDescription.cpp
  src/bufr/BufrParser/BufrDescription.h
  src/bufr/BufrParser/BufrParser.cpp
  src/bufr/BufrParser/Exports/Variables/DatetimeVariable.cpp
  src/bufr/BufrParser/Query/DataProvider/DataProvider.cpp
  src/bufr/BufrParser/Query/DataProvider/DataProvider.h
  src/bufr/BufrParser/Query/DataProvider/SubsetVariant.h
  src/bufr/BufrParser/Query/DataProvider/WmoDataProvider.cpp
  src/bufr/BufrParser/Query/File.cpp
  src/bufr/BufrParser/Query/File.h
  src/bufr/BufrParser/Query/QueryParser.h
  src/bufr/BufrParser/Query/QueryRunner.cpp
  src/bufr/BufrParser/Query/QuerySet.cpp
  src/bufr/BufrParser/Query/QuerySet.h
  src/bufr/BufrParser/Query/ResultSet.cpp
  src/bufr/BufrParser/Query/ResultSet.h
  src/bufr/BufrParser/Query/python_bindings.cpp
  src/bufr/CMakeLists.txt
  src/bufr/DataObject.h
  test/CMakeLists.txt
  test/testinput/bufr_query_python_test.py
  test/testinput/bufr_query_python_to_ioda_test.py
  test/testoutput/bufr_query_python_to_ioda_test.nc
  tools/bufr/QueryPrinter/NcepQueryPrinter.cpp
  tools/bufr/QueryPrinter/WmoQueryPrinter.cpp
Labels: OBS, INFRA

#1235 Fix for group_by bug in timeoffset variable.
  src/bufr/BufrParser/Exports/Variables/TimeoffsetVariable.cpp
  test/CMakeLists.txt
  test/testinput/bufr_ncep_prepbufr_adpupa.yaml
  test/testoutput/bufr_ncep_prepbufr_adpupa.nc
Labels: OBS

#1236 Make combine_obsspace work for IODAv3 + Other Minor Changes
  src/gsi_ncdiag/combine_obsspace.py
  src/gsi_ncdiag/gsi_ncdiag.py
  src/lib_python/ioda_conv_engines.py
  test/testoutput/amsua_aqua_obs_2018041500.nc4
  test/testoutput/satwind_obs_2018041500.nc4
  test/testoutput/sfc_tv_obs_2018041500.nc4
Labels: OBS, INFRA
