Repository JCSDA-internal/ioda-converters, pull requests merged in 2023-04, with the labels that each got.

#1189 iso_fortran_env modernization
  src/bufr/BufrParser/Exports/Variables/Transforms/atms/kinds.F90
  src/bufr/DataObject.h
  src/bufr/ObjectFactory.h
  src/gnssro/gnssro_bufr2ioda.f90
  src/gnssro/gnssro_gsidiag2ioda.f90
  src/ncar-bufr2nc-fortran/define_mod.f90
  src/ncar-bufr2nc-fortran/gnssro_mod.f90
  src/ncar-bufr2nc-fortran/kinds.f90
  src/ncar-bufr2nc-fortran/main.f90
  src/ncar-bufr2nc-fortran/ncio_mod.f90
  src/ncar-bufr2nc-fortran/netcdf_mod.f90
  src/ncar-bufr2nc-fortran/prepbufr_mod.f90
  src/ncar-bufr2nc-fortran/radiance_mod.f90
  src/ncar-bufr2nc-fortran/ufo_variables_mod.F90
  src/ncar-bufr2nc-fortran/utils_mod.f90
  src/obserror/obserror2ioda.f90
Labels: ready for merge

#1205 Fix retrieval surface and obs error in viirs_aod2ioda.py
  src/compo/viirs_aod2ioda.py
  test/testoutput/viirs_aod.nc
Labels: COMPO

#1207 Bugfix: solar zenith/azimuth angles were not computed correctly, new code fixes it.
  src/goes/goes_converter.py
Labels: OBS, INGEST

#1206 adding GNSSRO adjustLocalSpectralWidth
  src/gnssro/gnssro_bufr2ioda.f90
  test/CMakeLists.txt
  test/testinput/gnssro_3prof_2022090100.bufr
  test/testinput/gnssro_kompsat5_20180415_00Z.bufr
  test/testoutput/gnssro_kompsat5_2018041500.nc4
  test/testoutput/gnssro_obs_3prof_2022090100.nc4
Labels: needs review, ready for merge, OBS

#1216 adding a new gnssro converter: NETCDF profiles to IODA
  src/gnssro/CMakeLists.txt
  src/gnssro/gnssro_AWSopendataNetcdf2ioda.py
  test/CMakeLists.txt
  test/testinput/gnssro_refractivityRetrieval_metop_romsaf_2401.0011_metopc-G32-202108020112.nc
  test/testoutput/gnssro_obs_awsopendata_2021080200.nc4
Labels: needs review, OBS
