Repository JCSDA-internal/ioda-converters, pull requests merged in 2024-10, with the labels that each got.

#1566 Patches to the build system to properly support importing ioda-converters
  CMakeLists.txt
  src/gsi_ncdiag/CMakeLists.txt
  src/pyiodaconv/CMakeLists.txt
Labels: ready for merge, INFRA

#1560 Converter for Pandora network data
  src/compo/CMakeLists.txt
  src/compo/gcas_nc2ioda.py
  src/compo/icartt_nc2ioda.py
  src/compo/pandora_2ioda.py
  test/CMakeLists.txt
  test/testinput/Pandora57s1_BoulderCO_L2_rnvs3p1-8.txt
  test/testoutput/Pandora57s1_BoulderCO_L2_rnvs3p1-8.nc
Labels: COMPO

#1570 Update gsi_ncdiag.py
  src/gsi_ncdiag/gsi_ncdiag.py
Labels: ready for merge, NWS

#1572 Fix issues in airnow converter
  src/compo/airnow2ioda_nc.py
  test/testoutput/airnow_2020081306.nc
  test/testoutput/airnow_2020081306_epalist.nc
Labels: ready for merge, COMPO
