Repository JCSDA-internal/ioda-converters, pull requests merged in 2024-06, with the labels that each got.

#1510 Update current imsfv3 converter to handle time dimension
  src/land/CMakeLists.txt
  src/land/imsfv3_scf2ioda.py
  test/CMakeLists.txt
  test/testinput/ascii_input_IMSscf.20230501.oro_C48.nc
  test/testinput/nc_input_IMSscf.20230501.oro_C48.nc
  test/testoutput/imsfv3_scf.nc
  test/testoutput/imsfv3grid_scf.nc
Labels: needs review, LAND

#1524 Changing the IODA conventions for RH inside the balloon sonde converter
  src/conventional/balloon_sonde_json2ioda.py
Labels: ready for merge, OBS

#1521 update README file for the land converters
  README.md
  src/land/README.md
Labels: needs review, OBS

#1522 Update VIIRS L1b Albedo converter
  src/compo/viirs_l1bnc2ioda.py
  test/CMakeLists.txt
  test/testoutput/viirs_j1_l1b_albedo_2021080506.nc
Labels: ready for merge, COMPO
