Repository JCSDA-internal/ioda-converters, pull requests merged in 2024-12, with the labels that each got.

#1573 Update pandora converter with site classification information
  src/compo/pandora_2ioda.py
  test/CMakeLists.txt
  test/testinput/pandora_site_classification.csv
  test/testoutput/Pandora57s1_BoulderCO_L2_rnvs3p1-8.nc
Labels: coordinate merge, ready for merge, COMPO

#1575 Update MODIS AOD converter
  src/compo/modis_aod2ioda.py
  test/CMakeLists.txt
  test/testoutput/modis_aod.nc
Labels: COMPO

#1579 osw converter muon update
  src/hdf5/CMakeLists.txt
  src/hdf5/osw_2ioda.py
  test/CMakeLists.txt
  test/testinput/cygnss.sample.20240401T000600Z_PT1M.l2.wind_trackgridsize25km_NOAAv1.2.nc
  test/testoutput/obs.20240401T000600Z_PT1M_osw_cygnss_noaa.nc4
Labels: OBS

#1594 Adding try statement to tropomi converter
  src/compo/tropomi_no2_co_nc2ioda.py
Labels: INFRA

#1592 GMAO converter depth fix
  src/marine/gmao_obs2ioda.py
  test/testoutput/gmao_argo.nc
Labels: bug, NASA

#1595 Change the unit of electron density from m-3 to cm-3 following model naming convention
  src/conventional/ionosonde_ascii2ioda.py
  test/testoutput/ionosonde_edp_20201003T203000Z.nc4
Labels: needs review
