Repository JCSDA-internal/ioda-converters, pull requests merged in 2024-09, with the labels that each got.

#1542 Feature/madis snow
  src/land/CMakeLists.txt
  src/land/madis_snow2ioda.py
  test/CMakeLists.txt
  test/testinput/madis_2021010100.nc
  test/testoutput/madis_snod_2021010100.nc
Labels: ready for merge, LAND

#1539 add ctest for ground-based gnss ipw product
  test/CMakeLists.txt
  test/testinput/bufr_gpsipw.yaml
  test/testinput/obs.20240806T00Z.ipw_gnssgb.ncep.bufr
  test/testoutput/20240806T00Z_PT1M_ipw_gnssgb_ncep.nc
Labels: OBS

#1552 Removing channel 2 from TMS check
  src/hdf5/tropics_2ioda.py
Labels: ready for merge
